<div class="span12 control-group" ng-show="issues"><a href="#/new-issue/" class="btn btn-primary">Report a new issue</a></div>

<div class="span12">
      <table  ng-show="issues.length > 0" class="table table-striped">
        <tr>
          <th>Summary</th>
          <th>Submitter</th>
          <th>Assigned to</th>          
          <th>Status</th>
          <th>On</th>
          <th>Severity</th>          
          <th>Comment #</th>          
        </tr>
        <tr ng-repeat="issue in issues">
          <td><a href="#/issue/?uri={{issue.uri}}">{{issue.values.summary}}</a></td>
          <td>{{issue.values.reporter.shorthand}}</td>
          <td>{{issue.values.assignee.shorthand}}</td>          
          <td>{{issue.values.status}}</td>
          <td>{{issue.values.reportedOn}}</td>          
          <td>{{issue.values.severity}}</td>
          <td>{{issue.values.commentCount}}</td>          
        </tr>
      </table>
</div>      
<div align="center" ng-show="!issues"><span class="info label">Loading issues...</span></div>
<div align="center" ng-show="issues == false"><span class="info label">No issues found</span></div>
      