<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

    </div>
    <div class="span10">
      <!--Body content-->

      <table>
        <tr><th>Summary</th><th>Submitter</th><th>Status</th><th>On</th></tr>
        <tr ng-repeat="issue in issues">
          <td><a href="#/issues/{{issue.id}}">{{issue.values.summary}}</a></td>
          <td>{{issue.values.reporter.shorthand}}</td>
          <td>{{issue.values.status}}</td>
          <td>{{issue.values.reportedOn}}</td>          
        </tr>
      </table>

    </div>
  </div>
</div>
