<form name="newIssueForm" class="form-horizontal">
<fieldset>
      <legend>Report a new issue</legend>
      <label>Summary: </label><input name="summaryField" ng-model="summaryText" required>
      <label>Description: </label><textarea name="descriptionField" ng-model="descriptionText" required rows="10" class="span12"> </textarea>      
</fieldset>      
</form>
<div class="control-group">
<a ng-click="newIssue(summaryText, descriptionText, severity)" class="btn btn-primary">Submit</a>
<a href="#/issues/" class="btn">Cancel</a>
</div>      

<p ng-show="error" class="label label-important">{{error}}</p>
